body#acceuil {
    color-rendering: black;
    background-color: white;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: 100% 50%;
}
body#sectionArk {
    color-rendering: black;
    background-color: white;
    background-image: url("backdino.jpg");
    background-size: cover;
}
body#section7Days {
    color-rendering: black;
    background-color: white;
    background-image: url("back7days.jpg");
    background-size: auto;
}
body#listServ {
    background-image: url("backServeur.jpg");
    background-size: cover;
}
h1 {
    color: red;
    text-align: center;
    font-family: bloody;
    font-size: xx-large;
}
p#intro {
    color: white;
    text-align: center;
}
p#introArk {
    color: white;
    text-align: center;
    font-size: xx-large;
}
p#intro7days {
    color: #010729;
    text-align: center;
    font-size: xx-large;
}
ul#menu {
    color: red;

}
.shadow1 {
    background: rgba(35, 35, 35, 1);
    text-shadow:
            0px 0px 5px rgba(255, 255, 255, 1),
            0px 0px 10px rgba(255, 255, 255, 1),
            0px 0px 15px rgba(255, 255, 255, 1),
            0px 0px 20px rgba(73, 255, 24, 1),
            0px 0px 30px rgba(73, 255, 24, 1),
            0px 0px 40px rgba(73, 255, 24, 1),
            0px 0px 55px rgba(73, 255, 24, 1),
            0px 0px 75px rgba(73, 255, 24, 1);
}
.cmenu {
    color: #12dd2d;
}
.tmenu {
    color: #f1071b;
    text-shadow: 3px 3px 5px rgba(128, 0, 0, 1);
}
div#Imenu {
    border-style: double;
    border-width: 10px;
    border-radius: 10px;
    border-color: #a80de0;
    width: 200px;
    background-color: #b07b6d;
}
span {
    border-style: groove;
    border-color: yellow;
    border-radius: 20px;
    color: #de0dd4;
    background-color: black;
    
}
.lienRetour {
    color: #12dd2d;
}
.tableau {
    border-style: dashed;
    border-color: red;
    border-radius: 30px;
    width: 400px;
    background-color: black;
}

